<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <h2 data-cy="projectDetailsHeading"><span jhiTranslate="voltApp.project.detail.title">Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ project.id }}</span>
        </dd>
        <dt><span jhiTranslate="voltApp.project.bu">Bu</span></dt>
        <dd>
          <span>{{ project.bu }}</span>
        </dd>
        <dt><span jhiTranslate="voltApp.project.sector">Sector</span></dt>
        <dd>
          <span>{{ project.sector }}</span>
        </dd>
        <dt><span jhiTranslate="voltApp.project.vertical">Vertical</span></dt>
        <dd>
          <span>{{ project.vertical }}</span>
        </dd>
        <dt><span jhiTranslate="voltApp.project.client">Client</span></dt>
        <dd>
          <span>{{ project.client }}</span>
        </dd>
        <dt><span jhiTranslate="voltApp.project.project">Project</span></dt>
        <dd>
          <span>{{ project.project }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
